<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2013 Lugia Programming Team
    
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 

        http://www.apache.org/licenses/LICENSE-2.0 

    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, 
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
    See the License for the specific language governing permissions and 
    limitations under the License.
 -->

<manifest
    package="com.lugia.timetable"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="0.0.2 alpha 2"
    android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17"
    />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        
        <activity
            android:name="com.lugia.timetable.MasterActivity"
            android:label="@string/title_activity_master">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.lugia.timetable.SubjectDetailActivity"
            android:label="@string/title_activity_subject_detail"
        />

        <activity
            android:name=".EventFormActivity"
            android:label="@string/title_activity_new_event"
         />

        <activity
            android:name="com.lugia.timetable.LoginActivity"
            android:label="@string/title_activity_login"
        />
        
        <activity
            android:name="com.lugia.timetable.SettingActivity"
            android:label="@string/title_activity_setting"
        />

        <!-- BroadcastReceiver for register and cancel reminder -->
        <receiver android:name="com.lugia.timetable.ReminderReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.lugia.timetable.UPDATE_SCHEDULE_REMINDER" />
                <action android:name="com.lugia.timetable.UPDATE_EVENT_REMINDER" />
            </intent-filter>
        </receiver>
        
        <!-- IntentService for reminder notification -->
        <service android:name=".ReminderService" />
    </application>
</manifest>